<div class="row">
  <div class="col-xs-12 col-md-8">

<h1>Alla turrar</h1>


<br>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titel</th>
      <th>Spelare</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cups.each do |cup| %>
      <tr>
        <td><%= cup.id %></td>
        <td><%= cup.title %></td>
        <td><%= cup.players.map {|p| p.name}.join(', ') %></td>
        <td><%= link_to 'Visa', cup %></td>
        <% if logged_in? %>
          <td><%= link_to 'Ändra status', edit_cup_path(cup) %></td>
          <td><%= link_to 'Radera', cup, method: :delete, data: { confirm: 'Helt jävla säker? Går inte att ångra!' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

<br>
<%= render 'shared/footer' %>
