<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div align="center"><%= image_tag("officiell.png", alt: 'Approved by Pennert', height: '82', width: '100') if @cup.official == true %><h1><%= @cup.title %></h1></div>




    <%= render 'shared/matches' %>

<br><br>

    <%= render 'shared/tabell' %>

<br><br>

    <%= render 'shared/comments' %>

<br><br>

<div align="center">
<%= link_to 'Ändra', edit_cup_path(@cup) %> |
<%= link_to 'Tillbaka', :back %>
</div>
