<h1>Maratontabell</h1>
<div class="row">
  <div class="well col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>M</td>
          <th>GM</td>
          <th>IM</td>
          <th>+/-</td>
          <th>P</td>
        </tr>
      </thead>
      <tbody>
        <% @players = Player.all %>
        <% @players = @players.sort_by { |hsh| [hsh[:points]*-1, hsh[:goals]*-1, hsh[:goals_f]*-1, hsh[:games_played], hsh[:name]] } %>
        <% n = 0 %>
        <% @players.each do |player| %>
        <% n += 1 %>
        <tr>
          <td align="right"><%= n %>.</td>
          <td><%= player.name %></td>
          <td><%= player.games_played %></td>
          <td><%= player.goals_f %></td>
          <td><%= player.goals_a %></td>
          <td><%= player.goals %></td>
          <td><%= player.points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <small><b>M</b> = Spelade matcher, <b>GM</b> = Gjorda mål, <b>IM</b> = Insläppta mål, <b>+/-</b> = målskillnad, <b>P</b> = Poäng</small>
  </div>
</div>
