<%= form_for :match, :url => update_matches_path, :html => { :method => :put } do %>
  <table class="table">
    <% @all_done = true %>
    <% @cup.matches.each do |match| %>
      <%= fields_for "match[]", match do |match_fields| %>
      <tr>
        <td align="right"><h5> <%= match.players[0].name %> & <%= match.players[1].name %></h5></td>
        <% if match[:team1_score].nil? %>
        <td align="right"><%= match_fields.number_field :team1_score, in: 0..9, class: 'form-control', style: 'width:60px' %> <% @all_done = false %></td>
        <% else %>
        <td align="right"><h4> <%= match[:team1_score] %></h4></td>
        <% end %>
        <td><h4>:</h4></td>
        <% if match[:team2_score].nil? %>
        <td><%= match_fields.number_field :team2_score, in: 0..9, class: 'form-control', style: 'width:60px'  %> <% @all_done = false %></td>
        <% else %>
        <td><h4><%= match[:team2_score] %></h4></td>
        <% end %>
        <td><h5>
          <% if match.players[2].nil? %>
          Datalag
          <% else %>
         <%= match.players[2].name %> & <%= match.players[3].name %>
          <% end %>
       </h5></td>
        <% end %>

      </tr>
      <% end %>
  </table>
  <%= hidden_field_tag :cup_id, @cup %>
  <div class="actions" align="center">
    <% if @all_done == false %>
      <%= submit_tag "Lägg till resultat", class: 'btn btn-danger btn-lg btn-block' %>
      <% end %>
  </div>
<% end %>
