<%= form_for @player do |f| %>
  <div class="form-group">
    <%= f.label :namn %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <% if @player.avatar? %>
     <div class="form-group">
       <p>Current avatar</p>
       <%= image_tag (@player.avatar.profile.url) %>
     </div>
   <% end %>

   <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div>

  <div class ="form group">
    <%= f.submit "SKAPA SPELARE", class: "btn btn-primary" %>
  </div>
<% end %>
