<div class="row" align="center">

  <% @players.each do |player| %>
    <div class="col-xs-12, col-sm-6 col-md-4 col-lg-3 margin_bottom">
        <%= link_to player do %>
          <% if player.avatar? %>
          <div class="player_image">
            <%= image_tag player.avatar, :class => "photo grow", :crop => "fill", :gravity => "face", :width => 250, :height => 200, :dpr => 2.0 %>
            <h2 class="grow"><span><%= player.name %></span></h2>
          </div>
          <% else %>
          <div>
            <h3><%= player.name %></h3>
          </div>
          <% end %>
      <% end %>
      <p class="player_button">
      <% if logged_in? %>
        <%= link_to 'Ändra', edit_player_path(player), class: 'btn btn-danger btn-xs' %>&nbsp;
        <%= link_to 'Radera', player, method: :delete, data: { confirm: 'Är du säker?' }, class: 'btn btn-danger btn-xs' %>
      <% end %>
      </p>
    </div>
  <% end %>
<br>
</div>

<%= link_to 'Lägg till spelare', new_player_path, :class => 'btn btn-default btn-xs' %>

<br>
<%= render 'shared/footer' %>
