<div class="row">
  <div class="col-xs-12 col-md-6">

<h1>Spelare</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Turrar</th>
      <th></th>
      <% if logged_in? %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><strong><%= player.name %></strong></td>
        <td><%= player.cups.map {|c| c.title}.join(', ') %></td>
        <td><%= link_to 'Visa', player %></td>
        <% if logged_in? %>
          <td><%= link_to 'Ändra', edit_player_path(player), class: 'btn btn-danger btn-xs' %></td>
          <td><%= link_to 'Radera', player, method: :delete, data: { confirm: 'Är du säker?' }, class: 'btn btn-danger btn-xs' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Skapa ny Spelare', new_player_path %>

  </div>
</div>
