<% p_snitt = @player.points / @player.games_played.to_f %>
<% m_snitt = @player.goals_f / @player.games_played.to_f %>
  <div align="center">
    <%= image_tag @player.avatar, :class => 'photo', :dpr => 2.0, :gravity =>"face", :width => 250, :height => 200, :crop => "fill" %>
  <h1><%= @player.name %></h1><br>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="playerbox">Antal turrar<br>
  <span class="playerhuge"><%= @player.cups.count %></span></div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="playerbox">Spelade matcher<br>
  <span class="playerhuge"><%= @player.games_played %></span></div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="playerbox">Poängsnitt<br>
  <span class="playerhuge"><%= p_snitt.round(2) %></span></div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="playerbox">Mål per match<br>
  <span class="playerhuge"><%= m_snitt.round(2) %></span></div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="playerbox">Mål totalt<br>
  <span class="playerhuge"><%= @player.goals_f %></span></div>
</div>

<br>
<div class="row">
<div align="center" class="col-xs-12"><%= link_to 'Tillbaka', players_path %>
<%= render 'shared/footer' %>
</div>
</div>
