<div class="row">
  <div class="col-xs-12 col-md-7">
<h1>Alla matcher</h1>

<table class="table table-condensed">

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td>
          <% if match.cup.official == true %>
            <span class="officiel">
          <% else %>
            <span class="small_font">
          <% end %>
          <b><%= match.cup.title %></b></span><span class="small_font"> - <%= match.created_at.strftime("%Y %m.%d") %></span><br>
          <% if match.team1_score.to_i > match.team2_score.to_i %>
            <b>
          <% end %>
          <%= match.players[0][:name] %> & <%= match.players[1][:name] %>: <%= match.team1_score %></b><br>
          <% if match.team2_score.to_i > match.team1_score.to_i %>
            <b>
          <% end %>
          <% if match.players[2].nil? %>
            Datalag:
          <% else %>
           <%= match.players[2].name %> & <%= match.players[3].name %>:
          <% end %>
          <%= match.team2_score %></b>
        </td>

        <% if logged_in? %>
          <td style="vertical-align:middle"><%= link_to 'EDIT', edit_match_path(match), class: 'btn btn-danger btn-xs' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>

<%= link_to 'Tillbaka', :back %>

<%= render 'shared/footer' %>
